<div class="row">
  <!-- Login content -->
  <div id="login">
    <div id="main-header">
      <h3>Sign up for a free account</h3>
    </div>



    <div id="login-content" class="clearfix">
       <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
      <fieldset>
       
        <% if params["user"]["user_type"] == "student"%>
         <%= f.hidden_field :rolable_type, value:"Student"%>
          <div class="form-group">
          <label class="control-label" for="username"><i class="icon-user"></i>&nbsp;&nbsp;Group Code</label>
          <%= text_field_tag 'Group Code',nil,placeholder: "Group Code:", type: "text",class:"form-control", required: true %>
          <i id="emailicon"></i>

        </div>
      <% end %>
       <% if params["user"]["user_type"] == "teacher"%>
       <%= f.hidden_field :rolable_type, value:"Teacher"%>
      <% end %>
        <div class="form-group">
          <label class="control-label" for="username"><i class="icon-user"></i>&nbsp;&nbsp;Username</label>
          <%= f.text_field :name,integer: "", id:"Name",name: "user[name]", "ng-model" => "user", placeholder: "Username:", required: true, type: "text" ,class:"form-control" %>
          <i id="nameicon"></i>
        </div>
        <div class="form-group">
          <label class="control-label" for="username"><i class="icon-user"></i>&nbsp;&nbsp;Email</label>
          <%= f.email_field :email,integer1: "",id:"Email", name: "user[email]", "ng-model" => "email1", placeholder: "Email:", required: true, type: "email",class:"form-control" %>
          <i id="emailicon"></i>

        </div>
        <div class="form-group">
          <label class="control-label" for="password"><i class="icon-lock"></i>&nbsp;&nbsp;Password</label>


          <%= f.password_field :password,name: "user[password]",id:"Password", "ng-model" => "password", passworddir: "", placeholder: "Password:", required: "", type: "password",class:"form-control" %>

          <i id="passwordicon"></i>
        </div>
      </fieldset>
      <hr>

      <%= f.submit 'Create Account', :class => "btn btn-success btn-large signupbutton" %>

    <% end %>
    <%= render "devise/shared/links" %>
    </div>

    
  </div>
  <!-- /Login content -->
</div>

<!-- Javascript files -->


