<% provide(:header,"<h2>Timetable<span class='tblue'>.</span></h2>".html_safe)%>
<div class="row" ng-controller="TimetableCtrl" ng-init="get()">
  <div id="addtimetableentry" class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
      <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                  id="close{{index}}">×
          </button>
          <h3 id="myModalLabel"></h3>

      </div>
      <div class="modal-body">
        <div class="control-group">
                    <label class="control-label" for="when">When:</label>
                    <div class="controls controls-row" id="when" style="margin-top:5px;">
                    </div>
                </div>
        <div class="controls">
        
           
                      <input type="hidden" id="apptStartTime"/>
                      <input type="hidden" id="apptEndTime"/>
                      <input type="hidden" id="apptAllDay" />
                </div>
                <div ng-show="data.timetable.batches.length>1">
                  <div class="checkbox">
                      <label>
                       <input ng-model="checked"  type="checkbox" id="addbatches"/> Add Batches?
                      </label>
                    </div>
    
               </div> 
               <table class="table table-hover">
                
                    
    <td ng-repeat="entry in data.timetable.entries" ng-hide="checked" class="col-xs-3">
     {{entry.name}}: <select class="form-control" ng-model="entry3213" id="{{entry.name}}"
                           ng-options="value for value in entry.values"
                          >{{value}}</select>
    </td>
    
   
          <tr ng-repeat="batch in data.timetable.batches" ng-show="checked">
            <td style="
                width: 5%;
            ">{{batch}}</td>
             <td ng-repeat="entry in data.timetable.entries" class="col-xs-3">
              
     {{entry.name}}: <select class="form-control" ng-model="entry3214"
                             ng-options="value for value in entry.values"
                             ></select>


        
    </td>
          </tr>
</table> 

      </div>
      <div class="modal-footer">

          <button data-dismiss="modal" class="btn btn-primary" id="AddEntry" ng-click="addEntry()">Add</button>
      </div>
  </div>
</div>
</div>

  <%= render 'buttons'%>
 
</br>
  <!-- <h2>Timetable</h2> -->
  <div id='calendar' style="margin-top: 5%;"></div>

                
                
              </div>
          </div>
      </div>
    
      
    



 
 

</div>