<!-- Modal -->
<div class="modal fade" id="new_group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="
      width: 20%;
  ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Group</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
           
            <input type="text" ng-model="new_group" id="new_group"  name="text" class="col-md-3 form-control" placeholder="Group" />
  
          </div>
      
        
      
        
      </div>
      <div class="modal-footer">
          <button id="edittimetable" class="btn btn-primary" data-dismiss="modal" ng-click="createGroup()"><i class="fa fa-plus-square"></i>  Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


