

<% provide(:title, "Sign in") %>
<!-- /Navbar -->

<div class="row">
  <!-- Login content -->

  <div id="login">
    <div id="main-header">
      <h3>Login to your user account</h3>
    </div>

    <div id="login-content" class="clearfix">



      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

        <fieldset>

        <div class="form-group">
          <label for="email"><i class="icon-user"></i>&nbsp;&nbsp;Email address</label>
          <%= f.email_field :email,placeholder: "Email:",autofocus: true,class:"form-control",required: true %>
        </div>
        <div class="form-group">
          <label class="control-label" for="password"><i class="icon-lock"></i>&nbsp;&nbsp;Password</label>
          <%= f.password_field :password,placeholder: "Password:", class:"form-control",required: true%>

          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        <% end -%>

          <!-- <p><%= link_to '<i class="icon-key"></i>&nbsp;&nbsp;Password forgotten?'.html_safe, new_password_reset_path %> -->
          <p><%= link_to "forgotten password?", new_password_reset_path %></p>

        </div>
      </fieldset>
      <hr>
      <div><%= f.submit "Sign in", class: "btn btn-success btn-large signinbutton" %></div>



    <% end %>
      <%= render "devise/shared/links" %>

    </div>
  </div>
  <!-- /Login content -->
</div>

<!-- Javascript files -->
