<div class="widgetTitle">
  <span>Friend Requests</span>
  <div class="CL"></div>
</div>
<div class="widgetCnt" style="position:relative;">
  <div>
      <ul >
        <% Friendship.where(friend_id: current_user.id, confirmed: false).each do |request| %>
        <div class="row" id="friend_<%= request.id%>">
        <figure class="col-md-2" id="friend_request_avatar">
          <%= link_to avatar(request.user), request.user %>
          <figcaption>
          <%= (request.user.user_name || request.user.email) %>
          </figcaption>
        </figure>
        <span class="col-md-2" id="accept_reject_images">
          <%= link_to image_tag("/tick.png"), edit_friendship_path(request),remote: true %>
          <%= link_to image_tag("/cross.png"), friendship_path(request),method: :delete %>
        </span>
        </div>
        <% end %>
      </ul>
  </div>
</div>

