

	  <div class="row"  ng-controller="GroupsCtrl">
        <aside class="col-md-3">
           <%= render 'groups/header' %>
        </aside>
        <div class="span9">
            <!-- Main content         -->
            <div id="main-content">
                <!-- Container -->
                <div class="container">
								
          				<div class="col-md-10">
          					<h1 class="page-title">Group Posts</h1>
          				
					
          					<div class="widget">
          						<div class="widget-header">
          							<h3><i class="icon-comments"></i>&nbsp;&nbsp;Posts</h3>
          						</div>
          						<div class="widget-content">
          							<ul class="messages-activity" id="posts">
                          <%if @posts %>
                          <%= render @posts%>
                           
                        <% end %>
                        </ul>
          						</div>
          					</div>

          				</div>
								
						    
							

						    

			           
                </div>
            </div>


            <!-- /Content -->


            <!-- /Content -->
        </div>


    </div>
    <!-- /Container -->
</div>




</div>



