<div class="row" style="margin-top:5%"  ng-controller="GroupsCtrl" >
  <aside class="col-md-3">
    <section>
    <%= render 'shared/user_info' %>
    <%= render 'shared/group_form' %>
    </section>
    <section>
      <%= render 'shared/groups' %>
    </section>
   
  </aside>
  <div class="col-md-8">
      <!-- Main content         -->
      <div id="main-content">
          <!-- Container -->
          <div class="container">
           
              <% if current_user.rolable_type == "Teacher" %>
                <%= render 'messages/tabs' %>
              <% end %>


           

              <div class="col-md-10">
                  <h1 class="page-title" >Group Posts</h1>
              

                  <div class="widget" data-intro="Shows all the alerts and notes from all the groups" data-position="left">
                      <div class="widget-header">
                          <h3><i class="icon-comments"></i>&nbsp;&nbsp;Posts</h3>
                      </div>
                      <div class="widget-content">
                          <ul class="messages-activity" id="posts">
                          <% if @posts %>
                           <%= render @posts%>
                            
                            <% end %>

                          </ul>
                      </div>
                  </div>

              </div>


          </div>
      </div>


      <!-- /Content -->


      <!-- /Content -->
  </div>
</div>