<% if signed_in? %>
  <% if !current_user.linked_with_github? %>
    <%= link_to "link with with Github", user_omniauth_authorize_path(:github) %>
  <% end %>

  <% if current_user.linked_with_github? %> 
  <!-- || current_user.linked_with_bitbucket?  -->
    <%= link_to "Developer Account","http://dev.idlecampus.com" %>
  <% end %>
  <% if current_user.rolable_type == "Student"%>
    <%= render 'student'%>
  <% else %>
    <%= render 'teacher'%>
  <% end %>
<% else %>
<% end %>

<% content_for(:title, 'My Dashboard') %>

<% # TODO: View variable to be shifted to controller %>
<% # replace all variables with @dashboard.user and put them inside the UserDashboard class %>
<% user = @dashboard.user %>
<% user ||= current_user %>
<% achievements = @dashboard.user.achievements.includes(:badge).order('created_at DESC') %>
<% achievements_count = achievements.count %>
<% # END TODO %>
<%= render 'dashboards/profile', user: user,resource: current_user,resource_name: "user" %>
  

  
      <%= render 'users/activity_feed', user: user %>
  <%= render 'dashboards/update_profile_modal' %>



<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
