<span class="activity_status" id="activity_<%= activity.id %>" data-toggle="tooltip" data-html="true" data-placement="bottom" title='<%= User.where(id:activity.votes.pluck(:voter_id)).pluck(:user_name).join("<br>") %>'><%= activity.votes.size %></span>