<% session[:profile_id] = user.id %>
<%= link_to image_tag('/wowdisable.png'), activity_unwow_path(activity,class:activity.class), method: :delete, id: "wow_#{activity.id}", disabled: !(current_user.mutual_friends.include?(user)), style: 'padding-left:0px;',remote: true %>