$('#activity-spinner-<%= session[:activities_showing] %>').parent().fadeOut('fast');
<% session[:activities_showing] = @num+10 %>
var s = '<div><% (current_user.activities + @posts).sort{|a,b| b.created_at <=> a.created_at }.first(session[:activities_showing]).last(10).each do |activity| %><div id="<%= escape_javascript("activity_#{activity.id}_#{activity.class}") %>" ><%= escape_javascript(render "activities/activity", current_user: current_user, user: @user, activity: activity) %></div><% end %><p style="text-align: center; padding-bottom: 20px;"><%= escape_javascript(link_to 'View more ...', activities_view_more_path(num: session[:activities_showing], user_id: @user.id), method: :get, class: "colored-link", onclick: "$(this).parent().hide();$('#buzz').append(\"<div class='col-md-12' style='padding-bottom: 20px;'><div class='col-md-offset-5' id='activity-spinner-#{session[:activities_showing]}'><img src='/loader2.gif' width='40px;' /></div></div><div class='CL'></div>\");", remote: true)  %></p></div>';
var div = document.createElement('div');
div.innerHTML = s;

$('#buzz').append($(div.firstChild).hide().fadeIn('slow'));
