<!-- Feature Starts -->
<div class="features">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="feature-title text-center">
					<h3>Features</h3>
					<p>Don't have a mobile app for your college? Use IdleCampus by creating as many private groups as you want. Ask students to join them and keep them posted about anything important. Reach them on their smartphones also. Now no more spams. </p><br />
				</div>
			</div>
		</div>
		
		<hr>
		
		
		<div class="row">
			<div class="col-md-4  col-xs-6">
				<div class="feat">
					<p><i class="icon-android"></i></p>
					<h4>Schedule</h4>
					<p>Send your schedules either class schedules or personal to the members of your group.</p>
				</div>
			</div>
			<div class="col-md-4 col-xs-6">
				<div class="feat">
					<p><i class="icon-apple"></i></p>
					<h4>Notes</h4>
					<p>Post anything from photos, videos, files or announcements and we will let your members know about it. </p>
				</div>
			</div>
			
			<div class="col-md-4 col-xs-6">
				<div class="feat">
					<p><i class="icon-linux"></i></p>
					<h4>Alerts</h4>
					<p> Send 140 characters of alert to your students.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Feature Ends -->

<!-- Shots starts -->
<div class="shots">
	<div class="container">
		<!-- shot1-->
		<div class="row">
			<div class="col-md-12">
				<div class="screenshot web" >
					<img src="img/timetable.png" alt="image" class="img-responsive"/>
				</div>
			</div>
			<div class="col-md-12">
				<div class="shotcontent">
					<h3>Create a timetable <span class="text-muted"> for each batch of your college</span></h3>
					<p class="shot-para">Create the timetable for the regular lectures or the exams once and keep updating them for the batch. You can even create classes(entry) for each sub-group in the same timetable. </p> 
					<hr>
					
					<div class="row">
						<div class="col-md-6 col-xs-6">
							<div class="shot-content-body">
								<h4><i class="icon-cloud tblue"></i> Create</h4>
								<p> You can create put in the teacher names, subjects name and also the rooms where the clases would be help and then easily use that to create all the class schedules. </p>
							</div>
						</div>
						<div class="col-md-6 col-xs-6">
							<div class="shot-content-body">
								<h4><i class="icon-camera tblue"></i> Send</h4>
								<p> As soon as you click on the send timetable, the timetable would be saved which will also send a notification to each student present in the clas that a new timetable is available. </p>
							</div>
						</div>
					</div>
					<hr>
       	
				</div>
			</div>
			
		</div>
		<hr>
		<!-- shot1 ends -->
		
		<!-- shot2 -->
		<div class="row">
			<div class="col-md-8">
				<div class="shotcontent">
					<h3>Students <span class="text-muted"> can downloads apps, available for Android and iOS, create an account for them either from their mobile or from the web and start following your created groups. </span></h3>
					<p class="shot-para"> And then whenever you do create something in the group, they will surely know about it. </p> 
				
         <span class="hidden-xs hidden-sm "><a href="/teachers/signup" class="download"><i class="fa fa-heart"></i> Sign Up!</a>
				
				</div>
			</div>
			<div class="col-md-4">
				<div class="screenshot">
					<img src="img/signup_iphone.png" alt="image" class="img-responsive"/>
				</div>
			</div>
		</div>
		<hr>
		<!-- shot2 ends -->
		
		<!-- shot3 -->
		<div class="row">
			<div class="col-md-4">
				<div class="screenshot">
					<img src="img/main_screen.png" alt="image" class="img-responsive"/>
				</div>
			</div>
			<div class="col-md-8">
				<div class="shotcontent">
					<h3>Your students<span class="text-muted"> can access the timetable, the notes you upload and the alerts you create on their smartphones.</span></h3>
				
				
				</div>
			</div>
		</div>
		<!-- shot3 ends -->
		<hr>
	</div>
  
	<!-- shot4 -->
	<div class="row">
		<div class="col-md-4">
		
		</div>
		<div class="col-md-8">
			<div class="shotcontent">
				<h3>Did we say we also make custom apps specific to your needs?</span></h3>
			
			 
			<span class="hidden-xs hidden-sm "><a href="/contact" class="download"><i class="fa fa-heart"></i> Call us for a quote!</a></span>	
			</div>
		</div>
	</div>
	<!-- shot4 ends -->
	<hr>
</div>
	
</div>