<footer>
	<div class="container">
		
		
		<div class="row hidden-xs hidden-sm ">
			<div class="col-md-5  col-xs-6">
				<div class="footer-link">
					<h5><a href="/about">About</a></h5>
				 
          
				</div>
			</div>
		
			<div class="col-md-5  col-xs-6">
				<div class="footer-link">
					<h5><a href="/contact">Contact Us</a></h5>
					
				</div>
			</div>
			<div class="col-md-2  col-xs-6">
				<div class="footer-link">
					<h5><a href="http://blog.idlecampus.com">Blog</a></h5>
				
				</div>
			</div>
		</div>
    
		<div class="row visible-xs visible-sm">
			<div class="col-xs-4">
				<div class="footer-link">
					<h5><a href="/about">About Us</a></h5>
				 
          
				</div>
			</div>
			
			<div class="col-xs-4">
				<div class="footer-link">
					<h5><a href="/contact">Contact Us</a></h5>
					
				</div>
			</div>
			<div class="col-xs-4">
				<div class="footer-link">
					<h5><a href="http://blog.idlecampus.com">Blog</a></h5>
				
				</div>
			</div>
		</div>
    <nav class="links" style="text-align: center;padding: 6px 18px;">   
        <a href="https://twitter.com/idlecampus" ><%= image_tag("twitter-icon.png")%></a>
        <a href="https://www.facebook.com/idlecampusapp" style="margin-left:5%"><%= image_tag("facebook-icon.png")%></a>   
        <a href="https://plus.google.com/114448781815096880942" rel="publisher" style="margin-left:5%"><%= image_tag("googleplus-icon.png")%></a>      
    </nav>  
		
		
		<div class="row">
			<div class="col-md-12">
				
				<hr>
				<div class="copy text-center">
					&copy; 2013 <a href="/">IdleCampus</a>
				</div>
			</div>
		</div>
		
	</div>
</footer>