
	<!-- Header Starts -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<div class="logo">
            <a href='/'> <%= image_tag "img1/idlecampus.png",:size => "227x75" %></a>
					
					</div>
				</div>
        <div class="navigation pull-right hidden-xs hidden-sm " style="
                    margin-left: -1%;
                ">
				
					<% if signed_in? %>
            <%= link_to "Home", home_path %>
         <%=   link_to "<i class='fa fa-sign-out'></i> Sign out".html_safe, destroy_user_session_path, method: "delete", "ng-click" => "signout()",style:"margin:50px" %>
         
          <!-- <a id="start">Help</a> -->
        
         
         <% else %>

          <%= link_to "<i class='fa fa-sign-in'></i> Login".html_safe,new_user_session_path%>
          <%= link_to "<i class='fa fa-heart'></i> Sign up".html_safe, new_user_registration_path %>
        
          
          <%= link_to "Blog","http://blog.idlecampus.com" %>
          <!-- <a id="start">Help</a> -->
         <% end %>

				</div>
			</div>
		</div>
	</header>
	<!-- Header Ends -->
	
	