<!doctype html>
<html ng-app="idlecampus">
<head>
       
      <%= include_gon %>
    <style type="text/css">
   
       a#start{
           cursor: pointer;
           cursor: hand;
       }
    
  
    img.bg {
      /* Set rules to fill background */
      min-height: 100%;
      min-width: 1024px;
  
      /* Set up proportionate scaling */
      width: 100%;
      height: auto;
  
      /* Set up positioning */
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
    }
  
    .navbar-fixed-top, .navbar-fixed-bottom {
  
      position:static;
    }
  
    .nav-logo{
      margin-left: 250px;
    }
  
    .nav-logo1{
      margin-left: 150px;
      width: 30%;
    }
  
    .nav-logo2{
      margin-left: 150px;
      width: 30%;
    }
     .navbar-inner{
       height: 50px;
      background:#555 url('/assets/back.jpg') repeat !important;
      border-bottom:1px solid #000;
     }
     #footer-image{
       position: relative;
  
       margin: 10px 35%;
     
     }
     #ios,#android{
       position: relative;
       top: 100px;
       right: 200px;
     }
  
      #signinbutton,.bluebutton {
        
          -moz-box-shadow:inset 0px 1px 0px 0px #276873;
          -webkit-box-shadow:inset 0px 1px 0px 0px #276873;
          box-shadow:inset 0px 1px 0px 0px #276873;
        
          background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
          background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
          background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
          background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
          background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
          background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
        
          background-color:#599bb3;
        
          -moz-border-radius:4px;
          -webkit-border-radius:4px;
          border-radius:4px;
        
          display:inline-block;
          color:#ffffff;
          font-family:Trebuchet MS;
          font-size:14px;
          font-weight:200;
          padding:9px 11px;
          text-decoration:none;
         
          text-shadow:0px 1px 0px #3d768a;
        
      }
      #signinbutton:hover ,.bluebutton:hover;{
        
          background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
          background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
          background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
          background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
          background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
          background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
        
          background-color:#408c99;
      }
      #signinbutton:active,,.bluebutton:active {
          position:relative;
          top:1px;
      }
  
    #signinbutton {
      margin-left: 10px;
      margin-right: 100px;
    }
    .bluebutton{
      position: relative;
      width: 69px;
      right: 200px;
      top: -33px;
    }
    .bluebutton:hover{
      color: #fff;
      text-decoration: none;
      box-shadow: 0px 2px 0px -1px #397072;
    }
  
    .signinbutton,.signupbutton{
      width: 75% !important;
      margin-left: 50px !important
    }
  

      #signupbutton {
        
          -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
          -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
          box-shadow:inset 0px 1px 0px 0px #ffffff;
        
          background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
          background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
          background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
          background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
          background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
          background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
        
          background:#d7dadc;
          /*width:56px;*/
  /*        border:1px solid #dcdcdc;*/
        
          display:inline-block;
          color:#599bb3;;
          font-family:arial;
          font-size:14px;
          font-weight:200;
          padding:9px 11px;
          text-decoration:none;
            margin-right: 10px;
          text-shadow:0px 1px 0px #ffffff;
        
      }
      #signupbutton:hover {
        
          background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
          background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
          background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
          background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
          background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
          background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
        
          background-color:#f6f6f6;
      }
      #signupbutton:active {
          position:relative;
          top:1px;
      }
  
    /* footer */

    footer {
      clear: both;
      border-top: 3px solid #c8c8c8;
      border-top: 3px solid rgba(25, 25, 25, 0.15);
      margin-top: 10em;
      display: block;
      background-color: #112E41 !important;
      /*padding-top: 20px;
      padding-bottom: 40px;*/
    }

    .nav-pills > li > a
    {
      margin-right:50px !important;
    }
    footer a {
      color: #555;
    }

    footer a:hover {
      color: #222;
    }

    footer small {
      float: left;
    }

    footer ul {
      float: right;
      list-style: none;
    }

    footer ul li {
      float: left;
      margin-left: 10px;
    }
    .navbar .brand {
      padding:0px !important;
    }
    #logo-combined{
      position: relative;
    
      left: 144px;
    }
    </style>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <meta name="apple-mobile-web-app-capable" content="yes">
      <title><%= yield(:title) %></title>

     

      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= javascript_include_tag "application", :defer => "defer" %>
    
      <%= csrf_meta_tags %>
    
	</head>
	

  <body ng-controller="xmpp" ng-init="attach()">
  
       <div class="wrapper">
         <!-- Top Starts -->
         <div class="top">
	
	
           <%= render 'layouts/header1' %>
           <% if params[:controller] == "homes" && params[:action] == "show" && !signed_in? %>
          	<!-- Hero starts -->
          	<div class="hero">
          		<div class="container">
          			<div class="row">
        
        
          				<div class="col-md-8">
          					<div class="intro">
          						<h2>Private. Groups. Messaging</h2>
          						<p>Keep your students or members posted with anything important like placements or events across your campus.  </p><br />
          						<span class="hidden-xs hidden-sm"><a href="/teachers/signup" class="download"><i class="fa fa-heart"></i> Sign up!</a>
          						<div class="applinks">
          						<a data-intro="Download the iOS app" data-position="top" href="https://itunes.apple.com/us/app/idlecampus/id589694599?ls=1&mt=8"><i class="fa fa-apple"></i></a>
          						<a data-intro="Download the Android app" data-position="right" href="https://play.google.com/store/apps/details?id=com.idlecampus"><i class="fa fa-android"></i></a>
						
            
            
            
                    
          						</div>
          					</div>
          				</div>
          				<div class="col-md-4">
          					<div class="shot">
          						<img src="img/ios.png" alt="image" class="img-responsive"/>
          					</div>
          				</div>
          			</div>
          		</div>
          	</div>
          	<!-- Hero ends -->
            <% else %>
           	<!-- Hero starts -->
           	<div class="hero">
           		<div class="container">
           			<div class="row">
        
        
           				<div class="col-md-8">
           					<div class="intro">
           					<%= yield(:header) %>
           					</div>
           				</div>
           				
           			</div>
           		</div>
           	</div>
           	<!-- Hero ends -->
           <% end %>
         	<!-- Header Ends -->
	
        
         </div>
         <!-- Top Ends -->
     
     
 
   
   <% flash.each do |key, value| %>
    <% if key!=:register && key!=:group && key != :attacher %>
       <div style="width: 90%; margin-left: 6%;" class="alert alert-<%= key %>"><%= value %></div>
     <% end %>
     <% end %>
     
   
     <%= yield %>
    
     
    
          
           
       </div>
       <%= render "layouts/footer" %>
   </body>
</html>